	<footer id="footer">
		<div class="wrapper">
			<a href="#"><img src="../img/footer-logo.png" alt=""></a>
			<p>Официальный дилер Subaru в Киеве</p>
			<div class="footer-contact">
				<p><span>Киев</span>, ПОЗНЯКИ, ул. Здолбуновская 3, корпус 2</p>
				<p>(044) 291-21-35 <span>(067) 463-72-72</span></p>
				<div class="footer-socials">
					<a href="#"><img src="../img/facebook.png" alt=""></a>
					<a href="#"><img src="../img/youtube.png" alt=""></a>
					<a href="#"><img src="../img/instagram.png" alt=""></a>
				</div>
			</div>
		</div>
	</footer>
</div>
</body>
</html>